*{
    margin:0px;
    padding:0px;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("back.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#header{
    color: white;
    width: 100%;
    height: 10%;
    background: linear-gradient(-45deg, #3dceaa, #158da8);
    display: flex;
}
#header>div{
    width: 150px;
    padding: 1.2%;
    justify-content: center;
    align-content: center;
    display: flex;
    transition: .3s;
}

#header>div:hover{
    background-color: #3dceaa;
    cursor: pointer;
}
#right-box{
    position: inherit;
    width: 20%;
    margin: 5%;
    margin-left: 0;
}
#first-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#box-content{
    transform: rotate(-10deg);
    width: 100%;
    height: 40%;
    margin-bottom: 25%;
    background-color: rgb(95, 204, 104);
    text-align: center;
    box-shadow: 5px 10px 8px #88888860;
    margin-left: -40%;
    
    padding-top: 2.5%;
}
#box-content2{
    transform: rotate(10deg);
    width: 100%;
    margin-top: 5%;
    height: 43%;
    text-align: center;
    box-shadow: 5px 10px 8px #88888860;
    text-align: left;
    border: .02px solid rgba(255, 255, 255, 0);
    background-color: #033a2c;
    margin-left: -40%;
}
#box-content>div{
    background: linear-gradient(-45deg, rgba(46, 42, 42, 0.568), #d1d1d183);    
    margin: 5%;
    
    height: 80%;
    padding: 5%;
    background-image: url("WhatIsLove.png");
    background-size: cover;
}
#box-content2>div{
    color: white;
    background: linear-gradient(-45deg, rgba(46, 42, 42, 0.568), #d1d1d183);    
    margin: 5%;
    height: 80%;
    padding: 5%;
    border: 1px solid black;
}

#first-picture{
    width: 50%;
    height: 100%;
    margin: 5%;
    box-shadow: 5px 10px 8px #88888860;
    background-image: url("sana.jpg");
    background-size: cover;
    border: 1px solid black;
}
#logo{
    background-image: url("logo.png");
    background-size: cover;
    width: 50px!important;

}
#first-picture:hover{
    cursor: pointer;

}
#box-title>p:hover{
    color: #ade0d4;
    text-shadow: 1px 1px black;
}
#box-title>p{
    letter-spacing: 5px;
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    transition: .4s;
    text-shadow: 1.3px 1.3px #ade0d4;
}
#box-title{
    position: absolute;
    height: 40px;
    width: inherit;
    background: linear-gradient(-45deg, #27caa1, #20b7da);
    border-bottom: 1px solid black;

}
#cut{
    clip-path: polygon(0% 0%, 0% 101%,100% 100%);
    background-color: #27caa169;
    height: 20%;
    width: 100%;
}
#mid-wrapper{
    height: 80%;
    width: 100%;
    background-color: #27caa169;
    display: flex;
    align-items: center;
    justify-content: center;
}
#opening{
    background-repeat: no-repeat;
    position: fixed;
    
    width: 100%;
    height: 100%;
    background-color: rgba(70, 67, 67, 0.784);
    z-index: 200;
    padding-left: 25%;
    padding-top: 10%;
    animation: bye 6s;
    transform: translateX(100%);
}  
.mid-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    font-size: 200%;
    transition: 2s;
}  
.mid-content:hover{
    width: 400px;
    height: 80%;
    border-radius: 0;
    transform:rotate(360deg);
    background-image: url("tzuyu.jpg");
    color: transparent;
    background-size: cover;
}
@keyframes bye {
    from { transform: translateX(0)}
    to {transform: translateX(100%);
        
    }   
} 
@media only screen and (min-height: 900px) {
    #first-picture{
        width: 50%;
        height: 100%;
    }
    
}
@media only screen and (max-width: 900px) {
    #logo{
        position: fixed;
        visibility: hidden;
        display: none;
    }
    #header{
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: auto;
        text-align: center;
    }
    #header>div{
        width:30%;
        height: 30px;
        background: linear-gradient(-45deg, #16c09586, #158da867);

    }
    #first-picture{
        width: 80%;
        height: 100%;

    }
   
    #box-content,#box-content2{
        visibility: hidden;
    }
}