<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div id="now-playing-bar">
			<div id="now-playing">
			
				<div id="song-pict-bar">
				
				</div>
				<div id="song-name">
					<div id="song-title">...</div>
					<div id="song-artist">...</div>
				</div>
				<button class="like love-btn fa fa-heart fa-2x"></button>
				<button class="ctrl left-btn fa fa-caret-left fa-5x"></button>	
				<button class="ctrl play-btn fa fa-play-circle fa-5x"></button>
				<button class="ctrl right-btn fa fa-caret-right fa-5x"></button>	
				
			</div>
			<div id="song-control">
				<p id="current-duration">00:00</p>
				<div id="bar-progress">
					<div id="bar-fill">
					</div>
				</div>
				<p id="duration">00:00</p>
				<button class="ctrl volume-btn fa fa-volume-up fa-2x not-muted" style="width=200px;"></button>
			</div>
		</div>

</body>
</html>